// Fonts
$font-main: 'Raleway', sans-serif;
$font-accent: 'Playfair Display', sans-serif;
$font-secondary: 'Roboto', sans-serif;

// Colors
$color-dark: #242b33;
$color-accent: #d4c17f;
$color-text: #fff;
$color-footer: #2d343c;
